<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Categorias</h6>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Montagem e upgrade de computadores</strong>
                Montagem e upgrade de computadores
            </p>
            <div style="margin-top: -10px;">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="30" height="30">
                <p> teste </p>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Placas de vídeo</strong>
                Overclock Monitores de vídeo
            </p>
            <div style="margin-top: -10px;">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="30" height="30">
                <p> teste </p>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Processadores</strong>
                Overclock Refrigeração e superaquecimento
            </p>
            <div style="margin-top: -10px;">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="30" height="30">
                <p> teste </p>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Placas-mãe</strong>
                Overclock Placa-mãe não liga ou não dá vídeo
            </p>
            <div style="margin-top: -10px;">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="30" height="30">
                <p> teste </p>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Overclock</strong>
                Overclock
            </p>
            <div style="margin-top: -10px;">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="30" height="30">
                <p> teste </p>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Refrigeração e superaquecimento</strong>
                Refrigeração e superaquecimento
            </p>
            <div style="margin-top: -10px;">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="30" height="30">
                <p> teste </p>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Problemas de desempenho</strong>
                Problemas de desempenho
            </p>
            <div style="margin-top: -10px;">
                <img class="rounded-circle"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                    alt="Generic placeholder image" width="30" height="30">
                <p> teste </p>
            </div>
        </div>

        <small class="d-block text-right mt-3">
            <a href="#">Ver todas as categorias</a>
        </small>
    </div>
</main>